
<div style='margin: 2%; padding: 2%' class=" border-0 rounded-lg mt-5" id="main-container-add-product">


    <div class="card ">
        <div class="d-flex  justify-content-between p-5">
            <div class="card-title">
                <h3 class="card-label">Ajouter un produit</h3>
            </div>
            <div class="card-toolbar">
                <button type="button" (click)="displayProductList()" class="btn btn-primary" >Liste des Produits</button>
            </div>
        </div>
        <div class="col-md-offset-0 col-md-12">
            <div class="">
                <!--                    add new client-->
                <div class="container" >
                    <div [hidden]="submitted" style="width: 400px;"></div>
                    <div  [hidden]="!submitted"  class="alert alert-success mt-5">
                        <strong>SUCCES!</strong> Les informations sont correctement enregistees.
                    </div>
                    </div>

                    <form  [formGroup]="productForm">


                        <div class="row mt-3 mt-5">
                            <div class="col-sm">

                                <input formControlName="designation" class="form-control "
                                       type="text" placeholder="Désignation" 
                                       [ngClass]="(productForm.get('designation').touched 
                                    || productForm.get('designation').dirty) && productForm.get('designation').hasError('required') ? 'is-invalid'
                                   :'' || productForm.get('designation').hasError('minlength')
                                    ? 'is-invalid'
                                   :'' || ((productForm.get('designation').touched || productForm.get('designation').dirty) && !productForm. get('designation').invalid)? 'is-valid'
                                    : ''
                                   "
                                   />
                                   <div class="invalid-feedback">
                                    {{
                                        productForm.get("designation").hasError("required")
                                        ? "Veuillez entrer la designation du produit"
                                        : ""
                                    }}
                                    {{
                                        productForm.get("designation").hasError("minlength")
                                        ? "4 caractères minimum"
                                        : ""
                                    }}
                                  </div>
                                       
                            </div>
                            <div  class="col-sm">
                                <input formControlName="description" class="form-control"
                                       type="tel" placeholder="Description" 
                                       [ngClass]="(productForm.get('description').touched 
                                    || productForm.get('description').dirty) && productForm.get('description').hasError('required') ? 'is-invalid'
                                   :'' || productForm.get('description').hasError('minlength')
                                    ? 'is-invalid'
                                   :'' || ((productForm.get('description').touched || productForm.get('description').dirty) && !productForm.get('description').invalid)? 'is-valid'
                                 : ''
                                   "
                                   />
                                   <div class="invalid-feedback">
                                    {{
                                        productForm.get("description").hasError("required")
                                        ? "Veuillez entrer la description du produit"
                                        : ""
                                    }}
                                    {{
                                        productForm.get("description").hasError("minlength")
                                        ? "4 caractères minimum"
                                        : ""
                                    }}
                                  </div>
                                       
                            </div>



                        </div>

                        <div class="row my-5">
                            <div class="col-sm mt-">
                                <button style="width: 100%" [disabled]="productForm.invalid"
                                (click)="open('add')"
                                class="btn btn-primary">Valider</button>
                            </div>

                            <div class="col-sm">
                                <button style="width: 100%"  class="btn btn-danger">Annuler</button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    


<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" 
    aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
    
                <div class="modal-header">
                    <h4 class="modal-title">Créer un nouveau produit</h4>
                    <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span class="bg.light">Confirmer  la création du nouveau produit</span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" 
                        (click)="onSubmit()">
                        Enregistrer
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                  </div>
    
            </div>
    
        </div>
    
</div>

