<div style='margin: 2%; padding: 2%' class="card">
    <div class="d-flex  justify-content-between p-10">
        <div class="card-title">
            <h3 class="card-label">Ajouter un client</h3>
        </div>
        <div class="card-toolbar">
            <button type="button" (click)="displayClientList()" class="btn btn-primary">Liste des clients</button>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-offset-0 col-md-12">
            <div class="">
                <!--                    add new client-->
                <div class="container">
                    <div [hidden]="submitted" style="width: 400px;"></div>
                    <div [hidden]="!submitted" class="alert alert-success mt-5">
                        <strong>SUCCES!</strong> Les informations sont correctement enregistees.
                    </div>
                    <div [hidden]="unsubmitted" class="alert alert-danger mt-5">
                        <strong>ERREUR!</strong> Les informations sont incorrectes, vérifiez le formulaire svp!.
                    </div>

                    <form #createform="ngForm" [formGroup]="createClientForm">


                        <div class="row mt-3 mt-5">
                            <div class="col-sm">

                                <input formControlName="clientName" class="form-control " type="text" placeholder="Entrer le nom" required [ngClass]="{'is-invalid':createClientForm.get('clientName').touched && !createClientForm.get('clientName').valid || !createClientForm.get('clientName').valid,'is-valid':createClientForm.get('clientName').valid}"
                                />
                            </div>
                            <div class="col-sm">
                                <input formControlName="clientPhoneNumber" class="form-control" type="tel" placeholder="Entrer le téléphone" id="phonenumber" required [ngClass]="{'is-invalid':createClientForm.get('clientPhoneNumber').touched && !createClientForm.get('clientPhoneNumber').valid || !createClientForm.get('clientPhoneNumber').valid,'is-valid':createClientForm.get('clientPhoneNumber').valid}"
                                />
                            </div>

                            <div class="col-sm">
                                <input formControlName="clientAdresseCountry" class="form-control " type="text" placeholder="Entrer le pays" required [ngClass]="{'is-invalid':!createClientForm.get('clientAdresseCountry').touched && !createClientForm.get('clientAdresseCountry').valid || !createClientForm.get('clientAdresseCountry').valid ,'is-valid':createClientForm.get('clientAdresseCountry').valid}"
                                />
                            </div>

                        </div>
                        <!-- <div class="row mt-3">
                                <div class="col-sm">
                                    <select placeholder="Entrer le téléphone" class="custom-select" (change)="clientExpediteurChange($event)"
                                            formControlName="clientExpediteur">
                                        <option class="form-control" value="">Choisissez l'expediteur</option>
                                        <option class="form-control" value='OUI'>Oui</option>
                                        <option class="form-control" value='NON'>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm">
                                    <select class="custom-select" (change)="clientDestinataireChange($event)"
                                            formControlName="clientDestinataire">
                                        <option class="form-control" value="">Choisissez le destinataire</option>
                                        <option class="form-control" value='OUI'>Oui</option>
                                        <option class="form-control" value='NON'>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm">
                                    <select class="custom-select" (change)="clientPayeurChange($event)"
                                            formControlName="clientPayeur">
                                        <option value="">Choisissez le payeur</option>
                                        <option value='OUI'>Oui</option>
                                        <option value='NON'>Non</option>
                                    </select>
                                </div>
                            </div>
 -->

                        <div class="row mt-3">
                            <div class="col-sm">
                                <input formControlName="clientAdresseCity" class="form-control " type="text" placeholder="Entrer la ville" required [ngClass]="{'is-invalid':createClientForm.get('clientAdresseCity').touched && !createClientForm.get('clientAdresseCity').valid || !createClientForm.get('clientAdresseCity').valid,'is-valid':createClientForm.get('clientAdresseCity').valid}"
                                />
                            </div>
                            <div class="col-sm">
                                <input formControlName="clientAdresseMunicipalNumber" class="form-control" type="number" placeholder="No de la municipalité" required [ngClass]="{'is-invalid':createClientForm.get('clientAdresseMunicipalNumber').touched && !createClientForm.get('clientAdresseMunicipalNumber').valid || !createClientForm.get('clientAdresseMunicipalNumber').valid,'is-valid':createClientForm.get('clientAdresseMunicipalNumber').valid}"
                                />
                            </div>
                            <div class="col-sm">
                                <input formControlName="clientAdresseStreetName" class="form-control" type="text" placeholder="Entrer la rue" required [ngClass]="{'is-invalid':createClientForm.get('clientAdresseStreetName').touched && !createClientForm.get('clientAdresseStreetName').valid || !createClientForm.get('clientAdresseStreetName').valid,'is-valid':createClientForm.get('clientAdresseStreetName').valid}"
                                />
                            </div>

                        </div>


                        <div class="row mt-3">
                            <div class="col-sm">
                                <input formControlName="clientAdresseComplete" class="form-control" type="text" placeholder="Entrer l'adresse complète" id="adresse" required [ngClass]="{'is-invalid':createClientForm.get('clientAdresseComplete').touched && !createClientForm.get('clientAdresseComplete').valid || !createClientForm.get('clientAdresseComplete').touched,'is-valid':createClientForm.get('clientAdresseComplete').valid}"
                                />
                            </div>

                        </div>


                        <div class="row my-5">
                            <div class="col-sm mt-">
                                <button style="width: 100%" (click)="onSubmit()" class="btn btn-primary" id="valider">Valider</button>
                            </div>

                            <div class="col-sm">
                                <button style="width: 100%" (click)="displayClientList()" class="btn btn-danger">Annuler</button>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>